<h1>Todo List</h1>
<a href="{% url 'add_todo_item' %}" class="btn btn-primary">{{ BUTTON_LABELS.add_new_todo }}</a>
<form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{{ BUTTON_LABELS.logout }}</button>
</form>
<br> <br>
<form method="get" action="{% url 'list_todos' %}">
    <input type="text" name="title_search" value="{{ title_query }}" placeholder="Search by title...">
    <input type="text" name="description_search" value="{{ description_query }}" placeholder="Search by description...">
    <button type="submit">{{ BUTTON_LABELS.search }}</button>
</form>

<ul>
{% for item in items %}
    <li>{{ item.title }}: {{ item.description }}
        {% if item.completed %}
            <span>{{ BUTTON_LABELS.completed }}</span>
        {% else %}
            <a href="{% url 'toggle_todo_item' item.id %}" class="btn btn-success">{{ BUTTON_LABELS.mark_as_completed }}</a>
        {% endif %}
        <a href="{% url 'remove_todo_item' item.id %}" class="btn btn-danger">{{ BUTTON_LABELS.remove }}</a>
    </li>
{% endfor %}
</ul>