.login-icon {
    font-size: 2.5rem; /* Adjust the size as needed */
}

.tooltip-inner {
    font-size: 1.25rem !important; /* Adjust the size as needed */
    padding: .5rem .5rem !important; /* Adjust padding as needed */
}

.completed-icon {
    color: green;
}